.bg-4{background-color:#222222;}

.footer{ color: whitesmoke;text-align: center;}

#fontdetail{font-style: italic;}

.sbar,.titledetail{width:40%; margin-left: auto;margin-right: auto;font-size: 16px;font-weight: 500;}
.sbar{margin-top: 100px;}
.titledetail{margin-bottom: 60px;}

.articletitle{width:40%; margin-left: auto;margin-right: auto;font-size: 36px;font-weight: 800;letter-spacing: 1px; margin-top: 10px;margin-bottom: 30px;}
.article{width:45%;margin-left: auto;margin-right: auto;font-size: 18px;letter-spacing:;line-height: 2;margin-bottom:}

#shead{font-weight: 700;}

body{background-color:whitesmoke;}

@media (max-width:1580px) {
    

    
    
}

@media (max-width:1280px) {.sbar,.titledetail{width:55%; margin-left: auto;margin-right: auto;font-size: 16px;font-weight: 500;}
.sbar{margin-top: 80px;}
.titledetail{margin-bottom: 80px;}

.articletitle{width:55%; margin-left: auto;margin-right: auto;font-size: 36px;font-weight: 800;letter-spacing: 1px; margin-top: 10px;margin-bottom: 30px;}
.article{width:60%;margin-left: auto;margin-right: auto;font-size: 18px;letter-spacing:;line-height: 2;margin-bottom:}
body{background-color:whitesmoke;}
  
}



@media (max-width:900px) {
    .sbar,.titledetail{width:60%; margin-left: auto;margin-right: auto;font-size: 16px;font-weight: 500;}
.sbar{margin-top: 75px;}
.titledetail{margin-bottom: 75px;}

.articletitle{width:60%; margin-left: auto;margin-right: auto;font-size: 36px;font-weight: 800;letter-spacing: 1px; margin-top: 10px;margin-bottom: 30px;}
.article{width:65%;margin-left: auto;margin-right: auto;font-size: 18px;letter-spacing:;line-height: 2;margin-bottom:}
body{background-color:whitesmoke;}

    
}

@media (max-width:480px) {.sbar,.titledetail{width:85%; margin-left: auto;margin-right: auto;font-size: 16px;font-weight: 500;}
.sbar{margin-top: 70px;}
.titledetail{margin-bottom: 70px;}

.articletitle{width:85%; margin-left: auto;margin-right: auto;font-size: 36px;font-weight: 800;letter-spacing: 1px; margin-top: 10px;margin-bottom: 30px;}
.article{width:90%;margin-left: auto;margin-right: auto;font-size: 18px;letter-spacing:;line-height: 2;margin-bottom:}
body{background-color:whitesmoke;}

  
   

}



